header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;;
}
.card-container {
    display: flex;
    text-align: center;
}
.features {
    display: flex;
}
.feature-item {
    flex-direction: row-reverse;
    text-align: center;
    justify-content: space-evenly;
}
.footer-content {
    display: flex;
    flex-direction: row;
    /* border: 3px solid red; */
    justify-content: center;
    padding: 25px;
}
.footer-section {
    width: 33%;
    display: flex;
    flex-direction: column;
    /* border: 3px solid blue; */
}
/* .footer-section > a, .social-links {
    border: 3px solid green;
} */